* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: gray; */
}

body {
  background-image: url("./Images/bg-img.jpg");
  object-fit: fill;
  font-family: sans-serif;
}

#first-section {
  width: 100%;
}

header {
  position: absolute;
  width: 100%;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
}

header nav {
  display: flex;
  align-items: center;
}

header nav h2 {
  color: rgb(229, 9, 20);
  position: relative;
  top: 2rem;
  left: 10rem;
  font-size: 3.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

header nav ul {
  list-style: none;
}

header nav li {
  position: relative;
  top: 2rem;
  left: 60rem;
}

header nav a {
  color: #f2f2f2;
  background-color: rgb(229, 9, 20);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

header nav a:hover {
  background-color: rgb(194, 21, 32);
}

.main {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 60rem;
  color: #f2f2f2;
  text-align: center;
}

.main h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main1 input {
  padding: 1rem 8rem 1rem 0.9rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid lightslategray;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

.main1 input:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.main1 button {
  background-color: rgb(229, 9, 20);
  color: #f2f2f2;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.main1 button:hover {
  background-color: rgb(194, 21, 32);
}
